{% extends 'base.html' %}

{% block content %}
<center>
	<div id="event_page">
		<h1 id="title">EVENTS</h1>
		<table id="table">
			<tr class="first_part">
				<th>Name</th>
				<th>Drinks</th>
				<th>Date</th>
				<th>End</th>
				<th></th>
			</tr>
			{% for event in events %}
			<tr>
				<td><a class="link_event" href="{%url 'pages:one_event' event.pk %}">
					{{ event.name }}</a></td>
					<td>{{ event.drinks }}</td>
					<td>{{ event.date }}</td>
					<td>{{ event.end }}</td>
					<td align="center"><a href="{% url 'pages:update_event' event.pk %}"
						class="btn btn-outline-secondary btn-sm">Update</a></td>
					</tr>
					{% endfor %}
				</table>
				<div class="white_cube"> .</div>
			</div>
</center>
{% endblock %}