<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
	  <a class="navbar-brand" href="{% url 'pages:home' %}">Alcoscanner</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  <li class="nav-item">
			<a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
		  </li>
		  <li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="{% url 'pages:events' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Users
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="{% url 'pages:user' %}">All users</a></li>
					<li><a class="dropdown-item" href="{% url 'pages:user' %}">Add user</a></li>
					<!-- <li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li> -->
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{% url 'pages:events' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Events
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="{% url 'pages:events' %}">All events</a></li>
						<li><a class="dropdown-item" href="{% url 'pages:add_event' %}">Add event</a></li>
					</ul>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'pages:calendar' %}">Calendar</a>
				</li>
			</ul>
			<form class="d-flex" role="search" method="POST" action="{% url 'pages:search_general' %}">
				{% csrf_token %}
				
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
				<button class="btn btn-outline-secondary" type="submit">Search</button>
			</form>
	  </div>
	</div>
  </nav>