{% extends 'base.html' %}

{% block content %}
<div id="one_student_page">
	<h1 id="one_student_title">{{one_event.name}}</h1>
	<table class="scan_table">
		<tr>
			<th>Id</th>
			<th>Login</th>
			<th>Email</th>
			<th>Name</th>
			<th>Staff</th>
			<th></th>
		</tr>
		{% for student in students %}
		<tr>
			<td>{{ student.intra_id }}</td>
			<td>{{ student.login }}</td>
			<td>{{ student.email }}</td>
			<td>{{ student.name }}</td>
			<td>{{ student.is_staff }}</td>
			<td align="center"><a href="{% url 'badges:update_student' student.pk %}"
				class="btn btn-outline-secondary btn-sm">Update</a></td>
		</tr>
		{% endfor %}
	</table>
	<div class="blue_cube"> .</div>
</div>
{% endblock %}

