{% extends 'base.html' %}

{% block content %}
<div id="one_event_page">
	<h1 id="one_event_title">{{event.name}}</h1>
	<table class="scan_table">
		<tr>
			<th>Student name</th>
			<th>Time of scan</th>
		</tr>
		{% for scan in scans %}
		<tr>
			<td>{{ scan.uid }}</td>
			<td>{{ scan.date }}</td>
		</tr>
		{% endfor %}
	</table>
	<table class="scan_table">
		<tr>
			<th>Mode</th>
			<th>Amount</th>
		</tr>
		{% for mode in modes %}
		<tr>
			<td>{{ mode.type }}</td>
			<td>{{ mode.amount }}</td>
		</tr>
		{% endfor %}
	</table>
	<td align="center"><a href="{% url 'pages:update_event' event.pk %}"
		class="btn btn-outline-secondary btn-sm">Update event</a></td>
	<td align="center"><a href="{% url 'pages:update_mode' event.pk %}"
		class="btn btn-outline-secondary btn-sm">Update Mode</a></td>
	<div class="blue_cube"> .</div>
</div>
{% endblock %}

