{% extends 'base.html' %}

{% block content %}
<div id="one_event_page">
	<h1 id="one_event_title">{{event.name}}</h1>
	<table class="scan_table">
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>End</th>
			<th>Type</th>
			<th>Amount</th>
			<th></th>
		</tr>
		<tr>
			<td>{{ event.name }}</td>
			<td>{{ event.date }}</td>
			<td>{{ event.end }}</td>
			<td></td>
			<td></td>
			<td align="center"><a href="{% url 'pages:update_event' event.pk %}"
				class="btn btn-outline-secondary btn-sm">Update event</a></td>
			</tr>
			{% endfor %}
		</table>
	<table class="scan_table">
		<tr>
			<th>Mode</th>
			<th>Amount</th>
		</tr>
		{% for mode in modes %}
		<tr>
			<td>{{ mode.type }}</td>
			<td>{{ mode.amount }}</td>
		</tr>
		{% endfor %}
	</table>
	<td align="center"><a href="{% url 'pages:update_mode' event.pk %}"
		class="btn btn-outline-secondary btn-sm">Update Mode</a></td>
	<div class="blue_cube"> .</div>
</div>
{% endblock %}

