{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="scan_page">
	<h1>LAST SCAN</h1>

	<table class="last_scan">
		<tr>
			<th>Badge UID</th>
			<th>Login</th>
			<th>Date</th>
			<th>Event</th>
			<th>Validity</th>
			<th></th>
			<th></th>
		</tr>
		<tr>
			{% if current_scan %}
			<td>{{ current_scan.uid }}</td>
			<td>{{ current_scan.login }}</td>
			<td>{{ current_scan.date }}</td>
			{% if current_scan.event %}
				<td>{{ current_scan.event.name }}</td>
			{% else %}
				<td> Undefined </td>
			{% endif %}
			<td> {{ current_scan.validity }} </td>
			<td align="center"><a href="{% url 'pages:update_studentbadge' current_scan.pk %}"
				class="btn btn-outline-secondary btn-sm">Update</a></td>
			<td align="center"><a href="{% url 'pages:delete_scan' current_scan.id %}"
				class="btn btn-outline-danger btn-sm">Delete</a></td>
			{% endif %}
		</tr>
		</table>
		<h1>ALL SCANS</h1>
		<table class="scan_page_table">
			<tr>
				<th>Badge UID</th>
				<th>Login</th>
				<th>Date</th>
				<th>Event</th>
				<th>Validity</th>
				<th></th>
				<th></th>
			</tr>
			{% for scan in scans reversed %}
			<tr>
				<td>{{ scan.uid }}</td>
				<td>{{ scan.login }}</td>
				<td>{{ scan.date }}</td>
				{% if scan.event %}
					<td>{{ scan.event.name }}</td>
				{% else %}
					<td> Undefined </td>
				{% endif %}
				<td> {{ scan.validity }} </td>
				<td align="center"><a href="{% url 'pages:update_studentbadge' scan.pk %}"
					class="btn btn-outline-secondary btn-sm">Update</a></td>
				<td align="center"><a href="{% url 'pages:delete_scan' scan.id %}"
					class="btn btn-outline-danger btn-sm">Delete</a></td>
		</tr>
		{% endfor %}
		
	</table>
	
</div>
<script>
	function myFunction(data) {
		document.getElementById("demo").innerHTML = JSON.stringify(data);
		} 

	const chatSocket = new WebSocket(
		'ws://'
		+ window.location.host
		+ '/ws/log/'
	);

	chatSocket.onmessage = function(e) {
		const data = JSON.parse(e.data);
		myFunction(data);
		console.log(data);
	};

	chatSocket.onclose = function(e) {
		console.error('Chat socket closed unexpectedly');
	};

</script>
{% endblock %}