{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="scan_page">
	<h1>LAST SCAN</h1>
	<table class="last_scan">
		<tr>
			<th>Student name</th>
			<th>Time of scan</th>
		</tr>
		<tr>
			<td>{{ current_scan.uid }}</td>
			<td>{{ current_scan.date }}</td>
		</tr>
	</table>
	<h1>ALL SCANS</h1>
	<table class="scan_page_table">
		<tr>
			<th>UID</th>
			<th>Date</th>
		</tr>
		{% for scan in scans %}
		<tr>
			<td>{{ scan.uid }}</td>
			<td>{{ scan.date }}</td>
		</tr>
		{% endfor %}
	</table>
	
</div>
{% endblock %}