{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
	body {
		text-align: center;
	}
	table, th, td {
		border: 1px solid black;
		text-align: center;
	}
	td {
		width : 10%;
	}
	img {
		width : auto;
		height : 75px;
		padding : 3px;

	}
</style>
<center>
	<br/><br/><br/>
	<div id="students">
		<a id="students" href="pages:students">Students</a>
	</div>
	<br/>

	<table styleborder: 1px solid black;>
		<tr class="first_part">
			<th>Image</th>
			<th>Id</th>
			<th>Login</th>
			<th>Name</th>
			<th>Badge</th>
			<th>Email</th>
			<th>Staff</th>
		</tr>
	{% for student_bg in student_bgs %}
		<tr>
			<td><img src="{{ student_bg.student.image_url }}"> </td>
			<td>{{ student_bg.student.intra_id }}</td>
			<td><a href="https://profile.intra.42.fr/users/{{ student_bg.student.login }}"><u>{{ student_bg.student.login }}</u></a></td>
			<td>{{ student_bg.student.displayname }}</td>
			<td><a href="{% url 'pages:one_student' student_bg.pk %}">
			<u>{{ student_bg.badge.serial }}</u></a></td>
			<td>{{ student_bg.student.email }}</td>
			<td>{{ student_bg.student.is_staff }}</td>
		</tr>
	{% endfor %}
	</table>
</center>
{% endblock %}