{% extends 'base.html' %}
{% load static %}

{% block content %}
	<center>
	<br/><br/><br/>
	<h1>Update {{ event.name }}</h1>
	<br/>
	<form action="" method=POST>
		<br/>
		{% csrf_token %}

		{{ event_form.as_p}}

		{{ mode_form.as_p}}

		<button name="action" value="add">Add</button>

		<br/><br/>Modes: <br/>

		{% for mode in modes %}
			{% csrf_token %}
			Type : {{ mode.type }},
			Amount : {{ mode.amount }} 
			<button name="delete" value={{mode.pk}}>delete</button>
		<br/>
		{% endfor %}

		{% if error == "Already exist" %}
			The type already exist!
			<br/>
		{% endif %}
		<button name="action" value="submit">Submit</button>
	</form>
	</center>
{% endblock %}