{% extends 'base.html' %}

{% block content %}
<div id="event_page">
	<h1 id="title">USER INFOS</h1>
	<h2 id="info">Scan here to add a new user</h2>
	<table id="table">
		<tr class="first_part">
			<th>user_id</th>
			<th>login</th>
			<th>email</th>
			<th>first_name</th>
			<th>last_name</th>
			<th>display_name</th>
			<th>image</th>
			<th>profile</th>
			<th>date_joined</th>
			<th>is_active</th>
			<th>is_staff</th>
			<th>is_superuser</th>
		</tr>
		{% for user in users %}
		<tr>
			<td>{{ user.user_id }}</td>
			<td>{{ user.login }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.first_name }}</td>
			<td>{{ user.last_name }}</td>
			<td>{{ user.display_name }}</td>
			<td>{{ user.image }}</td>
			<td>{{ user.profile }}</td>
			<td>{{ user.date_joined }}</td>
			<td>{{ user.is_active }}</td>
			<td>{{ user.is_staff }}</td>
			<td>{{ user.is_superuser }}</td>
		</tr>
		{% endfor %}
	</table>
	<div class="white_cube"> .</div>
	<p><a class="link_event" href="../admin/pages/event/add/">Add an event here</a></p>
	<p><a class="link_event" href="../user/">Add a user there</a></p>
</div>
{% endblock %}