{% extends 'general/base.html' %}
{% load static %}

{% block content %}
<div id="scan_page">
		<h1>ALL SCANS</h1>
		<table class="scan_page_table" id="scan_table">
			<tr>
				<th>Badge UID</th>
				<th>Login</th>
				<th>Date</th>
				<th>Event</th>
				<th>Validity</th>
				<th></th>
				<th></th>
			</tr>
			{% for scan in scans reversed %}
			<tr>
				<td>{{ scan.uid }}</td>
				<td>{{ scan.login }}</td>
				<td>{{ scan.date }}</td>
				{% if scan.event %}
					<td>{{ scan.event.name }}</td>
				{% else %}
					<td> Undefined </td>
				{% endif %}
				<td> {{ scan.validity }} </td>
				<td align="center"><a href="{% url 'badges:update_studentbadge' scan.pk %}"
					class="btn btn-outline-secondary btn-sm">Update</a></td>
				<td align="center"><a href="{% url 'general:delete_scan' scan.id %}"
					class="btn btn-outline-danger btn-sm">Delete</a></td>
		</tr>
		{% endfor %}
	</table>
	
</div>

<script>

	const chatSocket = new WebSocket(
		'ws://'
		+ window.location.host
		+ '/ws/log/'
	);

	chatSocket.onmessage = function(e) {
		const data = JSON.parse(e.data);
		console.log(data);
		var table = document.getElementById("scan_table");
		var row = table.insertRow(1);
		var cell = row.insertCell();
		cell.innerHTML = data.id
		var cell = row.insertCell();
		cell.innerHTML = data.login
		var cell = row.insertCell();
		cell.innerHTML = new Date(data.date).toLocaleString('en-us', {month: 'short', day: 'numeric', year: 'numeric', hour12:true,hour: 'numeric', minute: 'numeric' })
		var cell = row.insertCell();
		cell.innerHTML = data.event ? data.event : 'Undefined'
		var cell = row.insertCell();
		cell.innerHTML = data.validity
		var cell = row.insertCell();
		cell.innerHTML = '<a href="/update_studentbadge/'+ data.pk +'/" class="btn btn-outline-secondary btn-sm">Update</a>'
		var cell = row.insertCell();
		cell.innerHTML = '<a href="/delete_studentbadge/'+ data.pk +'/" class="btn btn-outline-danger btn-sm">Delete</a>'
	};

	chatSocket.onclose = function(e) {
		console.error('Chat socket closed unexpectedly');
	};

</script>
{% endblock %}