{% extends 'general/base.html' %}
{% load static %}
{% block content %}
<div id="scan_page">
		<h1>ALL SCANS</h1>
		<table class="scan_page_table" id="scan_table">
			<tr>
				<th>Badge UID</th>
				<th>Login</th>
				<th>Date</th>
				<th>Event</th>
				<th>Validity</th>
				<th></th>
				<th></th>
			</tr>
			{% for scan in page_scan reversed %}
			<tr>
				<td><a href="{% url 'general:one_scan' scan.pk%}"><u>{{ scan.uid }}</u></a></td>
				<td><a href="{% url 'general:one_scan' scan.pk%}"><u>{{ scan.login }}</u></a></td>
				<td>{{ scan.date }}</td>
				{% if scan.event %}
					<td>{{ scan.event.name }}</td>
				{% else %}
					<td> Undefined </td>
				{% endif %}
				<td> {{ scan.validity }} </td>
				<td align="center"><a href="{% url 'badges:update_studentbadge' scan.pk %}"
					class="btn btn-outline-secondary btn-sm">Update</a></td>
				<td align="center"><a href="{% url 'general:delete_scan' scan.id %}"
					class="btn btn-outline-danger btn-sm">Delete</a></td>
		</tr>
		{% endfor %}
	</table>
	<br/> <hr>
	<nav aria-label="Page navigation">
		<ul class="pagination">

			{% if page_scan.has_previous %}
			<li class="page-item"><a class="page-link" href="?page=1">
				&laquo First</a></li>
			<li class="page-item"><a class="page-link" href="?page={{ page_scan.previous_page_number }}">
				Previous</a></li>
			{% elif not page_scan.has_previous %}
				<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
			{% endif %}
			<!--
				to display the current page and the total amount of pages
				<li class="page-item disabled"><a href="#" class="page-link">
					{{ page_scan.number }} of {{ page_scan.paginator.num_pages }}</a></li>
			-->
			{% for page in page_scan.paginator.page_range %}
				<li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
			{% endfor %}

			{% if page_scan.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{ page_scan.next_page_number }}">
				Next</a></li>
				<li class="page-item"></li><a class="page-link" href="?page={{ page_scan.paginator.num_pages }}">
					Last &raquo</a></li>
			{% elif not page_scan.has_next %}
				<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
			{% endif %}
		</ul>
	</nav>
</div>

<script>

	const chatSocket = new WebSocket(
		'ws://'
		+ window.location.host
		+ '/ws/log/'
	);

	chatSocket.onmessage = function(e) {
		const data = JSON.parse(e.data);
		console.log(data);
		var row_color;
		if (data.validity.toString() == "true")
		{
			row_color = "lightgreen";
		}
		else
		{
			row_color = "Tomato";
		}
		console.log(row_color)
		var table = document.getElementById("scan_table");
		var row = table.insertRow(1);
		row.style.backgroundColor = row_color;
		var cell = row.insertCell();
		cell.innerHTML = data.id
		var cell = row.insertCell();
		cell.innerHTML = data.login
		var cell = row.insertCell();
		cell.innerHTML = new Date(data.date).toLocaleString('en-us', {month: 'short', day: 'numeric', year: 'numeric', hour12:true,hour: 'numeric', minute: 'numeric' })
		var cell = row.insertCell();
		cell.innerHTML = data.event ? data.event : 'Undefined'
		var cell = row.insertCell();
		cell.innerHTML = data.validity
		var cell = row.insertCell();
		cell.style.textAlign = "center";		
		cell.innerHTML = '<a href="/update_studentbadge/'+ data.pk +'/" class="btn btn-outline-secondary btn-sm">Update</a>'
		var cell = row.insertCell();
		cell.style.textAlign = "center";		
		cell.innerHTML = '<a href="/delete_scan/'+ data.pk +'/" class="btn btn-outline-danger btn-sm">Delete</a>'
	};

	chatSocket.onclose = function(e) {
		console.error('Chat socket closed unexpectedly');
	};

</script>
{% endblock %}