{% extends 'general/base.html' %}
{% load static %}

{% block content %}
<div id="search_scan_page">
    <form action=" " method=POST>
        {% csrf_token %}
		<h1>ALL SCANS</h1>   
		<table class="scan_page_table">
            <textarea name='login' rows="4" cols="70" class="form-control" placeholder="login"></textarea>
            <textarea name='event' rows="4" cols="70" class="form-control" placeholder="event"></textarea>
            <input type="submit" value="Update" class="btn btn-success">
        </form>
	</table>
	
</div>
{% endblock %}