{% extends 'general/base.html' %}
{% load static %}

{% block content %}
<style>
	body {
		text-align: center;
	}
	table, th, td {
		border: 1px solid black;
		text-align: center;
	}
	td {
		width : 10%;
	}
	img {
		width : auto;
		height : 75px;
		padding : 3px;

	}
</style>
<center>
	<br/><br/>
	<div id="one_student_page">
		<h1 id="one_student_title">{{ student_bg.student.login}}</h1>
	</div>
	<table class="scan_table">
		<tr>
			<th>Login</th>
			<th>Serial</th>
			<th>Uid</th>
			<th>Reference</th>
			<th>Badge type</th>
			<th>Start at</th>
			<th>End at</th>
			<th>Caution paid</th>
			<th>Caution returned</th>
			<th>Badge lost</th>
			<th></th>
		</tr>
		<tr>
			<td>{{ student_bg.student.login }}</td>
			<td>{{ student_bg.badge.serial }}</td>
			<td>{{ student_bg.badge.uid }}</td>
			<td>{{ student_bg.badge.reference }}</td>
			<td>{{ student_bg.badge.badge_type }}</td>
			<td>{{ student_bg.start_at }}</td>
			<td>{{ student_bg.end_at }}</td>
			<td>{{ student_bg.caution_paid }}</td>
			<td>{{ student_bg.caution_returned }}</td>
			<td>{{ student_bg.lost }}</td>
			<td align="center"><a href="{% url 'badges:update_student' student_bg.pk %}"
				class="btn btn-outline-secondary btn-sm">Update</a></td>
		</tr>
	</table>
</center>
{% endblock %}
