a:link { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black; }
a:hover { text-decoration: none; color: black; }
a:active { text-decoration: none; color: black; }

* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'SoMeFlOwErS';
    src: url('./fonts/SoMeFlOwErS.woff2') format('woff2'),
        url('./fonts/SoMeFlOwErS.woff') format('woff');
}

@font-face {
    font-family: 'Blazed';
    src: url('./fonts/Blazed.woff2') format('woff2');
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('./fonts/Raleway-Medium.woff') format('woff'),
    	url('./fonts/Raleway-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('./fonts/Raleway-Regular.woff') format('woff'),
    	url('./fonts/Raleway-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Retrolight';
    src: url('./fonts/Retrolight.woff') format('woff'),
    	url('./fonts/Retrolight.woff2') format('woff2');
}
	


/* ----------------------------------------------------------- */

		/*					HOME PAGE					 */

/* ----------------------------------------------------------- */

#home_event {
	background-color: lightcoral;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 48vh;
	font-family: "SoMeFlOwErS", sans-serif;
	font-size: 175px;
}

#home_user {
	background-color: rgb(168, 167, 243);
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 48vh;
	font-family: "SoMeFlOwErS", sans-serif;
	font-size: 175px;
}


/* --------------------------------------------------------- */

/*							EVENT PAGE						 */

/* --------------------------------------------------------- */


#event_page {
	color: rgb(202, 31, 31);
	height: 100vh;
	font-family: 'Raleway-Regular', serif;
}

#event_page #title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5vh;
	padding-bottom: 2vh;
	font-family: 'Blazed', serif;
	font-size: 100px;
}

#event_page #table {
	border-collapse: collapse;
	width: 75vw;
}

#table td, #table th {
	padding: 8px;
	border: 1px solid rgb(184, 28, 28);
}

#table tr:nth-child(even) {
	background-color: #f2f2f2;
}

#table tr:hover {
	background-color: #ddd;
}

#table th {
	background-color: white;
	color: rgb(202, 31, 31);
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
}

.white_cube {
	margin: 350px;
}

.link_event {
	color:  rgb(202, 31, 31)!important;
	font-style: italic;
}

#event_page p {
	position: sticky;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	font-size: larger;
}


/* ----------------------------------------------------------- */

/*				ONE EVENT PAGE					 */

/* ----------------------------------------------------------- */

#one_event_page {
	background-color: rgb(226, 195, 244);
	color: black;
	height: 100vh;
	font-family: 'Raleway-Regular', serif;
}

#one_event_page h1 {
	margin-left: 10vw;
	padding-top: 6vh;
	padding-bottom: 3vh;
	font-family: 'Retrolight';
	font-size: 150px;
	font-weight: 100;
}

#one_event_page h2 {
	margin-left: 10vw;
	padding-top: 4vh;
	padding-bottom: 2vh;
	font-family: 'Retrolight';
	font-size: 100px;
	font-weight: 100;
}

.scan_table {
	border-collapse: collapse;
	margin-left: 10vw;
	width: 75vw;
}

.scan_table td, .scan_table th {
	width: 33%;
	border: 1px solid black;
	padding: 8px;
}

.scan_table tr:nth-child(even) {
	background-color: rgb(204, 149, 236);
}

.scan_table tr:hover {
	background-color: rgb(209, 167, 233);
	color: white;
}


.scan_table th {
	background-color : rgb(209, 167, 233);
	color: black;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
}

#one_event_page p {
	position: sticky;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	font-size: larger;
}

.eventbtn {
	margin-top: 30px;
	margin-left: 45%;
	height: 50px;
	padding : 0px;
	background-color: rgb(204, 149, 236);
	border-color: black;
}
.eventbtn:hover {
	background-color: rgb(209, 167, 233);
}

#update_one_event {
	padding: 10px;
	color: black;
	font-size: larger;
}

.blue_cube {
	background-color: rgb(226, 195, 244);
	color: rgb(226, 195, 244);
	margin: 400px;
}

/* --------------------------------------------------------- */

/*						SCAN PAGE							 */

/* --------------------------------------------------------- */

#scan_page {
	background-color: rgb(187, 246, 246);
	height: 100vh;
}

#scan_page h1 {
	font-size: 70pt;
	padding-top: 5vh;
	padding-bottom: 2vh;
	padding-left: 12vw;
}

.last_scan {
	border-collapse: collapse;
	margin-left: 12vw;
	width: 75vw;
	background-color: rgb(154, 228, 238);
}

#title_last_scan {
	width: 100%;
}

.last_scan td, .last_scan th {
	border: 1px	solid black;
	padding: 8px;
}

.scan_page_table {
	margin-left: 12vw;
	border-collapse: collapse;
	width: 75vw;
}

.scan_page_table td, .scan_page_table th {
	/* width: 50%; */
	border: 1px solid black;
	padding: 8px;
}

.scan_page_table tr:nth-child(even) {
	background-color: rgb(123, 208, 219);
}

.scan_page_table tr:hover {
	background-color: rgb(154, 228, 238);
	color: rgb(255, 255, 255);
}


.scan_page_table th {
	background-color : rgb(154, 228, 238);
	color: black;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
}

.light_cube {
	background-color: rgb(187, 246, 246);
	color: rgb(187, 246, 246);
	margin: 400px;
}
.form {
	margin: auto;
}
  
.form input, .form select, .form textarea {
	border-radius: 5px;
	border: 1px solid #17a2b8;
	outline: none;
	background: none;
	padding: 5px;
	width: 100%;
}